<div>
  <h1 class="center">Slothful Soda, Rehydrate Slothfully</h1>

  <h1 class="center">
    <img id="sloth-img" src="http://andyhaskell.github.io/Slothful-Soda/images/sloth.jpg" /> +
    <img id="hibiscus-img" src="http://andyhaskell.github.io/Slothful-Soda/images/hibiscus.png" /> = AWESOME SODA
  </h1>
  <p class="center">
    With all the people playing Ultimate at parks in Boston, water just won't
    cut it as a way to rehydrate. That's why the sloths living in Cambridge's
    Fresh Pond invented Slothful Soda, a delicious soda made from hibiscus
    flowers for the most slothful way to re-hydrate after your game.
    Rehydrate slothfully!
  </p>
</div>
