<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Slothful Soda, Rehydrate Slothfully</title>

    <meta charset="utf-8">
    <base href="/">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY&sensor=true"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-route.js"></script>

    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/MapCtrl.js"></script>
    <script src="/scripts/services/Distance.js"></script>
  </head>
  <body>
    <div ng-include="'/partials/header.html'"></div>
    <div id="main" class="container" ng-view></div>
  </body>
</html>
